extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th Name
            th Time
            th Lookup
            th Edit
            th Delete
        tbody
          each item in catetories
            tr(class="item-id-#{item._id}")
              td #{item.name}
              td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
              td: a(target="_blank", href="../movie/#{item._id}") Lookup
              td: a(target="_blank", href="../admin/update/#{item._id}") Edit
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") Delete
  //- script(src="/js/admin.js")