extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/movie", enctype="multipart/form-data")
        if user._id
          input(type="text", disabled, value=user._id)
        .form-group
          label.col-sm-2.control-label(for="inputCategory") ID
          .col-sm-10
            input#inputCategory.form-control(type="text", disabled, value=user._id)
        .form-group
          label.col-sm-2.control-label(for="inputCategory") Name
          .col-sm-10
            input#inputCategory.form-control(type="text", name='user[name]', value=user.name)
        .form-group
          label.col-sm-2.control-label(for="inputCategory") Interest
          .col-sm-10
            input#inputCategory.form-control(type="text", name="user[interest]", value=user.interest)
        
        .form-group
          label.col-sm-2.control-label(for="inputPoster") Photo
          .col-sm-10
            input#inputPoster.form-control(type="text", name="user[photo]", value=user.photo)
        .form-group
          label.col-sm-2.control-label(for="uploadPoster") Upload Photo
          .col-sm-10
            input#uploadPoster(type="file", name="uploadPoster")
        .form-group
          label.col-sm-2.control-label(for="inputSummary") Introduction
          .col-sm-10
            textarea#inputSummary.form-control(type="text", name="user[intro]")= user.intro

          
            

        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") Upload
  script(src='/js/admin.js')