extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th category
            th course name
            //- th channelTitle
            
            th create time
            th modified time
            th visitors
            th lookup
            th edit
            th delete
        tbody
          each item in movies
            tr(class="item-id-#{item._id}")
              td #{item.category.name}
              td #{item.title}
              //- td #{item.doctor}
              
              td #{moment(item.meta.createAt).format('MMMM Do YYYY, h:mm:ss a')}
              td #{moment(item.meta.updateAt).format('MMMM Do YYYY, h:mm:ss a')}
              td #{item.pv}
              td: a(target="_blank", href="/movie/#{item._id}") lookup
              td: a(target="_blank", href="/admin/movie/update/#{item._id}") edit
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") delete
      button.btn.btn-default(type='button',href='/admin/movie/new') 
        a(href='/admin/movie/new') Create New  
      br 
      br 
      br 
      br 
       
  script(src="/js/admin.js")