extends ../layout

block content	

		h1 Name : #{to.name}
		h2 Visted : #{to.pv}
		h2 Create Time : #{moment(to.meta.createAt).format('MM/DD/YYYY')}
		
		h2 Follows&nbsp;(#{follows.length}) :
		if follows.length > 0 
			each f in follows
				a(href='/user/#{f._id}')
					span &nbsp;#{f.name} &nbsp;
		else 
			p No follow
		
		h2 Followers&nbsp;(#{befollows.length}) :
		if befollows.length > 0

			each bf in befollows
				a(href='/user/#{bf._id}')
					span &nbsp;#{bf.name} &nbsp;
		else 
			p No followers
		h2 Favorite course video :
		if movies.length>0
			each m in movies
				a(href='/movie/#{m._id}')
					img(src='#{m.poster}')
					p &nbsp;#{m.title} &nbsp;
		else 
			p No Course Video
		

		if f.indexOf(user._id)<0
			form(method='POST',action="/user/follow")
				if user 
					input(type='hidden',name='uid', value=user._id)
					input(type='hidden',name='fid', value=to._id)
					button.btn.btn-primary(type='submit') Follow 
				else 
					a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") Require Login
		else
			form(method='POST',action="/user/unfollow")
				if user 
					input(type='hidden',name='uid', value=user._id)
					input(type='hidden',name='fid', value=to._id)
					button.btn.btn-primary(type='submit') UnFollow 
				else 
					a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") Require Login


		br 
		br 
		hr